
# Python

**pycache**/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.log

# Virtual environments

venv/
.env/
.env.*

# Python build files

build/
dist/
*.egg-info/

# HuggingFace / ML caches

.cache/
.cache/huggingface/
.cache/torch/

# Vector DB / embeddings

vector_db/
embeddings/
*.faiss
*.index

# Node / React

frontend/node_modules/
node_modules/

# React build outputs
frontend/build/
build/

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files

.DS_Store
Thumbs.db
desktop.ini

# IDE / Editors

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Misc

*.swp
*.tmp
*.bak

# Env

.env